In [43]:
#load iris dataset
data_iris = load_iris()
iris_X, iris_y = load_iris(return_X_y=True)
feature_iris = data_iris['feature_names']

In [44]:
#transform iris into dataframe
iris_X=pd.DataFrame(iris_X)
iris_y=pd.DataFrame(iris_y)

In [45]:
def sigmoid(x):
    return 1/(1+math.exp(-x))

In [46]:
def net(array_x, array_w):
    return array_x*array_w;

In [47]:
array_x = np.array([1,3,4])
array_y = np.array([0,2,3])

In [48]:
net(array_x, array_y)

array([ 0,  6, 12])

In [49]:
iris_X.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [50]:
iris_X.iloc[0]

0    5.1
1    3.5
2    1.4
3    0.2
Name: 0, dtype: float64

In [54]:
def count_error(target, output):
    return 0.5*(target-output)*(target-output)

In [55]:
count_error(10,1)

40.5

In [ ]:
#number_of_input_node = int
#number_of_hidden_node = array of number of node at layer
#number_of_output_node = int
def MLP(number_of_input_node, number_of_hidden_node, number_of_output_node):
    #doing feed forward
    #doing backward phase
    #doing change weight